.country-card {
    color: black;
    position: relative;
    width: 202px;
    height: 150px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flexbox;
  }
  .country-card:hover{
    color:rgb(0, 0, 0);
    animation-duration: 0.6s;
  }
  .backgroundColor{
    background-color: rgba(255, 255, 255, 0.8);
  }

  .backgroundColor:hover{
    background-color: rgb(76, 78, 204);
  }

  .flag {
    width: 100%;
    height: 150;
    display: flex;
    object-fit: cover;
  }
  
  .country-details {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 8px;
    background-color: rgba(255, 255, 255, 0.8);
  }
  
  .country-name {
    font-weight: bold;
  }
  
  .coat-of-arms {
    width: 30px;
    height: auto;
    position: absolute;
    top: 8px;
    right: 8px;
  }
  