*{
  margin: 0px;
  padding: 0px;
}

#light{
  color: black;
}

#dark{
  color: antiquewhite;
}

.blackBackground{
  background-image: url(./assets/BlackBackground.jpg);
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
  background-size: cover;
}

.center{
  position: relative;
  text-align: center;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.title{
  padding-top: 20%;
}


